#ignore nano backups that end in ~
*~

#ignore files with 'nogit' extension
*.nogit

#ignore bin subdirectory and all files in it
bin/*

#ignore doxygen documentation
doxy/*

#ignore build files
cmake_install.cmake
CMakeFiles/*
CMakeCache.txt
Makefile
